@page "/Game"
@page "/Game/{ip}"


<h3>Game</h3>

<p role="status">Ip: @ip</p>

<p role="status">Current count: @balance</p>


<button class="btn btn-primary">Click me</button>

@code {
    [Parameter]
    public string ip { get; set; }

    public int balance { get; set; } = 0;

    GameManager gameManager = new GameManager();

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        gameManager.BalanceUpdateEvent += (balance) =>
        {
            this.balance = balance + 10;
        };

        await gameManager.ConnectToGame(ip);

    }
}