@page "/JoinGame"
@using System.Text.RegularExpressions
@using WebApp.Managers
@inject NavigationManager navManager

<h3>
    JoinGame
</h3>

<input @bind-value="@ip" />
<button @onclick="ButtonJoinGame">
    Join Game
</button>

<button @onclick="@ButtonJoinLocalGame">
    Join local game
</button>

@if (!String.IsNullOrEmpty(error))
{
    <p>
        @error
    </p>

}

@code {

    private string ip;
    private string error;

    public void ButtonJoinGame()
    {
        if (JoinGameManager.ValidateIP(ip))
        {
            string gameURI = JoinGameManager.CreateJoinGameURI(ip);

            navManager.NavigateTo(gameURI);
        }
        else
        {
            error = " Incorrect IP";
        }
    }

    public void ButtonJoinLocalGame()
    {
        navManager.NavigateTo("/game/localhost:5100");
    }
}