@page "/JoinGame";

<h3>
    JoinGame
</h3>

<input @bind-value="@ip" />
<button @onclick="ButtonJoinGame">
    Join Game
</button>

<button @onclick="@ButtonJoinLocalGame">
    Join local game
</button>

@if (!String.IsNullOrEmpty(error))
{
    <p>
        @error
    </p>
}