@page "/JoinGame";

<h3>
    JoinGame
</h3>

<input @bind-value="@ip" placeholder="Input host IP & Port"/>
<button class="rounded" @onclick="ButtonJoinGame">
    Join Game
</button>

<button class="rounded" @onclick="@ButtonJoinLocalGame">
    Join local game
</button>

<input type="checkbox" @bind-value="@_useValidation" checked/> Use IP Validation.

@if (!String.IsNullOrEmpty(error))
{
    <p>
        @error
    </p>
}