@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu /> @*Inserts the Sidebar from NavMenu.Razor*@
    </div>

    <main>
        <article class="content px-4">
            @Body @*Razor components gets rendered here*@ 
        </article>
    </main>
</div>
